@validation
Feature: The Brand Pages should have a visible Logo or visible Video

  Scenario Outline: I will validate the Brand Logo or Video
    Given I want to the validate the brand in "<URL>"
    When I load the page
    Then the brand identification should be visible
    Examples:
      | URL | SCENARIO-ID |
  <LOAD_BRAND_URLS>