@seo
@items
Feature: The Title length of all Item Pages should be in a range

  Scenario Outline: I will validate the length of the Page Title
    Given I want to the check the content of the url "<URL>"
    When I navigate to the page
    Then the title should be  under 70 characters
    Examples:
      | URL | SCENARIO-ID |
  <LOAD_URLS>












