@seo1
@all
Feature: The Title of all the Pages should match the Test Data

  Scenario Outline: I will validate the Page Title
    Given I want to the check the content of the url "<URL>"
    When I navigate to the page
    Then the title should match the Test Data
    Examples:
      | URL | SCENARIO-ID |
  <LOAD_BASE_URLS>












