@seo2
@items
Feature: The Item Pages have a Header One matching the extracted Data

  Scenario Outline: I will validate the Brand Header One
    Given I want to the check the content of the item url "<URL>"
    And the url is from an item page
    When I navigate to the item page
    Then the item header one should not be empty
    And the item header one should match the TestData
    Examples:
      | URL | SCENARIO-ID |
  <LOAD_ITEM_URLS>